<mat-form-field [appearance]="appearance" [color]="'accent'" class="field">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="number"
    [placeholder]="placeholder"
    [formControl]="formControl"
  />
  <mat-hint *ngIf="hint && !(formControl.errors && formControl.touched)">
    {{ hint }}
  </mat-hint>
  <mat-hint
    *ngIf="formControl.errors && formControl.touched"
    [class.field__error]="formControl.errors"
  >
    {{ getFormattedError() }}
  </mat-hint>
</mat-form-field>
